.menu-row{
  width:100%;
  background: linear-gradient(#009A44, #006039);
}
.colorGreen{
  color:  #006039;
}
.colorGreen1{
  color:  #009A44;
}
.backcolorGreen{
  background-color:  #006039;
}
.backcolorGreen1{
  background-color:  #009A44;
}

.coloryellow{
  color:  #F5E206;
}
.backcoloryellow{
  background-color:  #F5E206;
}



.liline li a {
  display:block; 
  font-size:1.2rem; 
  width:120px;
  padding:4px 0 4px;
  margin-left:30px
  color:#ffffff; 
  letter-spacing:-1px;
  border-left: 2px solid #006039;

}

.x{
  display: flex;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.ullistli{
    background-color: #eee;
    cursor: progress;

}
.listli{
    padding: 12px;
}

